body {
    overflow: hidden;
}

#info-msg {
    animation: Blink 2s infinite alternate;
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 100%;
    font-size: 27px;
    color: #fff;
    z-index: 9999;
    font-family: 'Montserrat', serif;
}

#info-msg p span {
    display: inline-block;
    background-color: #000000a6;
    border-radius: 8px;
    padding: 2%;
}

@keyframes Blink {
    0% {
        opacity: 0;
    }
}